.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .services-item {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }