.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .services-item {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .services-container {
    border: 2px solid #003F56;
    padding: 5%;
    margin: 5%;
    text-align: JUSTIFY;
    box-shadow: -2px 6px 10px 2px #003F56;
    justify-items: center;
    border-radius: 6px;
    background: #00758C;
    color: #F5DDAB;
  }